body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15rem;
    background-color: rgba(182, 24, 221, 6%);
}

.line-purple{
    margin: 0px auto;
    width: 75px;
    height: 5px;
    background-color: rgb(182, 24, 221);
}


.text-purple{
    color: rgb(182, 24, 221);
}

.text-dark-purple{
    color: rgb(148, 43, 174);
}

.bold-700{
    font-weight: 700;
}

.line-animation{
    animation-name: line-dash;
    animation-duration: 3s;
    transition: ease-in-out;

}

@keyframes line-dash {
    0% {margin-left: 0;}
    100% {margin-left: 50%; transform: translateX(-50%);}
}


a:link, a:visited{
    color: white;
    text-decoration: none;
} 

a:hover, a:active{
    text-decoration: underline;
}

/* Footer css */
.mobile-logo{
    filter: brightness(0%) invert(1);
}

.w-8ch{
    width: 8ch;
}

.w-10ch{
    width: 10ch;
}

.w-15ch{
    width: 15ch;
}