.display-96{
    font-size: 7rem;
}

.top-25{
    top: 25%;
}

.left-50{
    left: 50%;
}

.mr-8{
    margin-right: 8.33333%;
}

.w-10{
    width: 10%;
}

.h-100{
    min-height: 100%;
}
.z-1000{
    z-index: 1000;
}

body{
    font-family: 'Montserrat', sans-serif;
}

