body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(221, 24, 24, 6%);
}

.text-red {
    color: rgba(221, 24, 24);
}


.custom-carousel{
    overflow-x: scroll;
    width: 100%;
}

.img-size-carousel{
    min-width: 350px;
    width: 400px;
    max-width: 400px;
    padding: 0 2rem;
    border-right: 20px solid rgba(221, 24, 24);
}

.img-size{
    min-width: 125px;
    /* min-height: 125px; */
}

@media screen and (max-width: 766px) {
    .img-size{
        min-width: 185px;
    }
}


.line-red{
    margin: 0px auto;
    width: 75px;
    height: 5px;
    background-color: rgb(221, 24, 24);
}

.line-animation{
    animation-name: line-dash;
    animation-duration: 3s;
    transition: ease-in-out;

}

@keyframes line-dash {
    0% {margin-left: 0;}
    100% {margin-left: 50%; transform: translateX(-50%);}
}

/* Footer designs */
.mobile-logo{
    filter: brightness(0%) invert(1);
}

.w-8ch{
    width: 8ch;
}

.w-10ch{
    width: 10ch;
}

.w-15ch{
    width: 15ch;
}